<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/icons8-merchant-account-50.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        My Bank
    </div>
    <form [formGroup]="registerForm"class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <input  formControlName="uname" type="text" name="userName" id="reg_name" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <input  formControlName="acno" type="text" name="accountnumber" id="reg_acno" placeholder="Account Number">
        </div>
        <div class="form-field d-flex align-items-center">
            <input  formControlName="pswd" type="password" name="password" id="reg_pswd" placeholder="Password">
        </div>
        <button class="btn mt-3" (click)="register()" type="button">Register</button>
    </form>
    <div class="text-center fs-6">
        <a routerLink="">Sign in</a>
    </div>
</div>